{% set offset = (signals.page - 1) * signals.limit %}
{% set query = craft.entries.section('duels') %}
{% if signals.search|length %}
  {% set query = query.search(signals.search) %}
{% endif %}
{% set duelsCount = query.count() %}
{% set query = query.offset(offset).limit(signals.limit).orderBy(signals.sort).eagerly() %}
{% set duels = query.all() %}

{% if duelsCount <= offset + (duels|length) %}
  {% fragment %}
    <div id="loadmore"></div>
  {% endfragment %}
{% endif %}

{% if duels|length %}
  {% fragment with {selector: '#result', mergeMode: 'append'} %}
    {% for duel in duels %}
      <li>
        {{ include("_components/duel", {
          duel: duel
        }, withContext = false) }}
      </li>
    {% endfor %}
  {% endfragment %}
{% endif %}
