{% set loginResponse = datastar.runAction('users/login', {
  loginName: signals.loginname,
  password: signals.password,
  rememberMe: signals.rememberme,
}) %}
{% if loginResponse.isSuccessful %}
  {% location '/profile' %}
{% else %}
  {% patchelements %}
    <div id="verified"></div>
  {% endpatchelements %}
  {% patchelements %}
    <div id="alert-login"></div>
  {% endpatchelements %}
  {% patchelements %}
    <div id="alert-login" class="alert-error text-left m-0 p-0">
      {{ loginResponse.data.message }}
    </div>
  {% endpatchelements %}
{% endif %}
