{% if signals.modal == false %}
  {% patchsignals { rivalone: '' } %}
  {% patchsignals { rivaltwo: '' } %}
  {% patchsignals { showsuggestionone: false } %}
  {% patchsignals { showsuggestiontwo: false } %}

  {% patchelements %}
    <div id="alert"></div>
  {% endpatchelements %}
{% endif %}
