{% if not currentUser %}
  {% location '/login' %}
  {% exit %}
{% endif %}

{% set duel = craft.entries.id(duelId).eagerly().one() %}
{% set duelRivalOne = duel.duelRivalOne.one() %}
{% set duelRivalTwo = duel.duelRivalTwo.one() %}
{% set rival = craft.entries.id(duelRivalId).one() %}

{% executescript %}
  _paq.push(['trackEvent', 'Vote', 'Duel', '{{ duel.title|e('js') }}']);
{% endexecutescript %}

{% set existingVote = craft.entries()
  .section('votes')
  .relatedTo([
    'and',
    { targetElement: duel },
    { targetElement: currentUser }
  ])
  .one() %}

{% if existingVote and existingVote.voteRival.one().id == rival.id %}
  {% set response = datastar.runAction('elements/delete', {
    elementId: existingVote.id
  }) %}
{% else %}
  {% set response = datastar.runAction('entries/save-entry', {
    sectionId: 11,
    entryId: existingVote ? existingVote.id : null,
    fields: {
      voteDuel: [duel.id],
      voteRival: [rival.id],
      voteUser: [currentUser.id]
    }
  }) %}

  {% do craft.entryCount.increment(existingVote ? existingVote.id : response.data.id) %}
{% endif %}

{% if response.isSuccessful %}
  {% fragment %}
    {{ include("_components/duel", {
      duel: duel
    }, withContext = false) }}
  {% endfragment %}
{% else %}
  {% fragment %}
    <div id="alert" class="alert-error">
      {% for error in response.data.errors %}
        {{ error|first }}
      {% endfor %}
    </div>
  {% endfragment %}
{% endif %}


