{% extends "_layouts/base" %}

{% block main %}
  <section class="page">
    <h1 class="text-xl mb-12">About</h1>
    <div class="space-y-6">
      <p>
        Hi, I’m <a href="https://webworker.me/" class="ui-link ui-bold hover:italic" target="_blank" rel="noopener">Andi Grether</a>, a full stack developer specializing in <a
            class="ui-link ui-bold hover:italic" href="https://craftcms.com/" target="_blank" rel="noopener">Craft CMS</a>.
        This site was created as a test project to explore the possibilities of <a class="ui-link ui-bold hover:italic" href="https://plugins.craftcms.com/datastar?craft5" target="_blank"
                                                                                   rel="noopener">Datastar</a>,
        a powerful new plugin for Craft CMS.
      </p>

      <p>
        The source code is fully open and available on GitHub:
        <a class="ui-link ui-bold hover:italic" href="https://github.com/handplant/Craft-CMS-Datastar-Duels" target="_blank" rel="noopener">View the repository</a>
      </p>

      <p>
        If you encounter a bug or have suggestions, feel free to open an issue in the repo — contributions and feedback are always welcome.
      </p>

      <p>
        Special thanks to <a class="ui-link ui-bold hover:italic" href="https://putyourlightson.net/" target="_blank" rel="noopener">Ben Croker</a> from PutYourLightsOn
        for his outstanding work on Datastar and his ongoing contributions to the Craft CMS community.
      </p>

      <p>
        This project is non-commercial and built purely for experimentation, learning, and fun.
      </p>
    </div>
  </section>
{% endblock %}
