{% extends "_layouts/base" %}

{% block main %}
  <section class="page">
    <h1 class="text-xl mb-12">Imprint</h1>
    <div class=" space-y-6">
      <p class="ui-bold">Information pursuant to § 5 TMG</p>
      <p>
        Andi Grether <br>
        Badstr. 22c <br>
        79379 Müllheim <br>
        Germany <br>
        webworker.ag@gmail.com
      </p>
      <p class="ui-bold">Legal Notice</p>
      <p>The content of this website has been created and reviewed with great care. However, we cannot guarantee the accuracy, completeness, or current validity of the information provided.</p>
      <p>Last updated: May 2025</p>
    </div>
  </section>
{% endblock %}
