{% extends "_layouts/base" %}

{% set seomate = {
  meta: {
    title: 'Privacy policy',
  },
} %}

{% block main %}
  <section class="page">
    <h1 class="text-xl mb-12">Privacy policy</h1>
    <div class=" space-y-6">
      <p>Hey! This site is a technology demo project for Craft CMS with Datastar.</p>
      <p class="ui-bold">What happens with your data?</p>
      <p>This website is purely for testing purposes:</p>
      <ul class="list-disc pl-6">
        <li>All data is used for testing only</li>
        <li>No commercial use</li>
        <li>No sharing with third parties</li>
      </ul>
      <p>I'm using a self-hosted installation of Matomo Analytics to gather basic visitor statistics. This is done:</p>
      <ul class="list-disc pl-6">
        <li>Without cookies</li>
        <li>With anonymized IP addresses</li>
        <li>On my own server in Germany</li>
        <li>Fully GDPR-compliant</li>
      </ul>
      <p class="ui-bold">Server Logs</p>
      <p>The web server temporarily stores technical access data (like IP address, browser type, access time). This is used solely to ensure secure operation and is automatically deleted after no more
        than 7 days.</p>
      <p class="ui-bold">Contact & Emails</p>
      <p>If you send me an email, I’ll only use your data to respond — and I’ll delete it once it’s no longer needed.</p>
      <p class="ui-bold">Your Rights</p>
      <p>You have the right to access, correct, or delete your data. Just drop me an email.</p>
      <p class="ui-bold">Responsible Party</p>
      <p>
        Andi Grether<br>
        Badstr. 22c<br>
        79379 Müllheim<br>
        Germany <br>
        webworker.ag@gmail.com
      </p>
      <p>Last updated: May 2025</p>
    </div>
  </section>
{% endblock %}
