<ul>
  <li>
    <a class="ui-link" href="/about">about</a>
  </li>
  <li>
    <a class="ui-link" href="/imprint">imprint</a>
  </li>
  <li>
    <a class="ui-link" href="/privacy">privacy</a>
  </li>
</ul>
